.new-york
  = image_tag "newyorkcity_dark.png", size: "1286x400", class: "full-width-image"

.row.soft-gray-background.some-space
  .col-md-10.col-md-offset-1
    .text-center.home-page-header
      .tagline-banner
        | <span class="aoss-letter">A</span>ccurate, <span class="aoss-letter">O</span>n-time, <span class="aoss-letter">S</span>pecialized <span class="aoss-letter">S</span>ervice <br>for the legal industry